In [1]:
import pandas as pd

In [2]:
can1 = pd.read_parquet('cancelled_chunk_1.parquet')
can2 = pd.read_parquet('cancelled_chunk_2.parquet')
can3 = pd.read_parquet('cancelled_chunk_3.parquet')
can4 = pd.read_parquet('cancelled_chunk_4.parquet')
can5 = pd.read_parquet('cancelled_chunk_5.parquet')

In [3]:
can = pd.concat([can1, can2, can3, can4, can5])

In [4]:
print(len(can) == len(can1) + len(can2) + len(can3) + len(can4) + len(can5))

True

In [5]:
can.to_parquet('cancelled.parquet')

In [2]:
import pandas as pd

In [3]:
df1_od = pd.read_parquet('orders_chunk_4.parquet')
df1_on = pd.read_parquet('order_number_chunk_4.parquet')

In [4]:
print(len(df1_od) - len(df1_on))

0

In [5]:
df1 = df1_od.merge(df1_on, left_index=True, right_index=True, how='inner')

In [6]:
print(len(df1) - len(df1_od))

0

In [7]:
df1.head()

,Timestamp,Side,Price,Volume_Disclosed,Price_Type,Symbol,Original_Qty,TimeStamp,Order Number,IOC Flag,Activity Type
0,79631629203325,B,209.40,166,Limit,OIL,166,79631629203325,1200000000112466,N,4
1,79631629203326,B,209.55,166,Limit,OIL,166,79631629203326,1200000001817196,N,4
2,79631629203327,B,209.45,171,Limit,OIL,171,79631629203327,1200000001535479,N,4
3,79631629203328,S,210.25,166,Limit,OIL,166,79631629203328,1200000001951398,N,4
4,79631629203329,S,210.30,166,Limit,OIL,166,79631629203329,1200000000112474,N,4

In [8]:
df1 = df1.drop('TimeStamp', axis = 1)

In [9]:
df1.head()

,Timestamp,Side,Price,Volume_Disclosed,Price_Type,Symbol,Original_Qty,Order Number,IOC Flag,Activity Type
0,79631629203325,B,209.40,166,Limit,OIL,166,1200000000112466,N,4
1,79631629203326,B,209.55,166,Limit,OIL,166,1200000001817196,N,4
2,79631629203327,B,209.45,171,Limit,OIL,171,1200000001535479,N,4
3,79631629203328,S,210.25,166,Limit,OIL,166,1200000001951398,N,4
4,79631629203329,S,210.30,166,Limit,OIL,166,1200000000112474,N,4

In [10]:
df1.to_parquet('order_4.parquet')

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_parquet('order_3.parquet')
df2 = pd.read_parquet('order_4.parquet')
df1 = df1[df1['Symbol'] == 'RELIANCE']
df2 = df2[df2['Symbol'] == 'RELIANCE']

In [3]:
data = pd.concat([df1, df2])

In [4]:
print(len(data) == len(df1) + len(df2))

True

In [5]:
data.head()

,Timestamp,Side,Price,Volume_Disclosed,Price_Type,Symbol,Original_Qty,Order Number,IOC Flag,Activity Type
16358228,79631194602407,B,866.0,0,Limit,RELIANCE,1,1200000000001802,N,1
16358230,79631194602436,S,1055.0,0,Limit,RELIANCE,1,1200000000001804,N,1
16358250,79631194602723,S,960.0,0,Limit,RELIANCE,24,1200000000001826,N,1
16358258,79631194602855,B,950.0,0,Limit,RELIANCE,1,1200000000001835,N,1
16358259,79631194602868,B,950.0,0,Limit,RELIANCE,1,1200000000001836,N,1

In [6]:
data.to_parquet('rel.parquet')

In [1]:
import pandas as pd
df = pd.read_parquet('rel.parquet')
can = pd.read_parquet('cancelled.parquet')

In [23]:
can = can.rename(columns = {'TimeStamp' : 'Timestamp'})

In [24]:
can.head()

        Timestamp      Order Number IOC Flag  Activity Type
0  79631194995693  1000000000007281        N              3
1  79631195013045  1000000000005540        N              3
2  79631195115036  1000000000006571        N              3
3  79631195116810  1000000000007282        N              3
4  79631195125870  1000000000007860        N              3

In [25]:
can_filtered = can[can['Order Number'].isin(df['Order Number'])]

In [26]:
can_filtered.head()

              Timestamp      Order Number IOC Flag  Activity Type
1756432  79631195233428  1200000000006171        N              3
1756433  79631195236162  1200000000001836        N              3
1756435  79631195278581  1200000000007951        N              3
1756436  79631195281144  1200000000008332        N              3
1756437  79631195315173  1200000000001835        N              3

In [27]:
len(can_filtered)

84852

In [28]:
data = pd.concat([df, can_filtered], ignore_index=True)

In [29]:
print(len(data) == len(df) + len(can_filtered))

True

In [30]:
data.head(100000000)

,Timestamp,Side,Price,Volume_Disclosed,Price_Type,Symbol,Original_Qty,Order Number,IOC Flag,Activity Type
0,79631194602407,B,866.0,0.0,Limit,RELIANCE,1.0,1200000000001802,N,1
1,79631194602436,S,1055.0,0.0,Limit,RELIANCE,1.0,1200000000001804,N,1
2,79631194602723,S,960.0,0.0,Limit,RELIANCE,24.0,1200000000001826,N,1
3,79631194602855,B,950.0,0.0,Limit,RELIANCE,1.0,1200000000001835,N,1
4,79631194602868,B,950.0,0.0,Limit,RELIANCE,1.0,1200000000001836,N,1
...,...,...,...,...,...,...,...,...,...,...
1494545,79632794787721,NaN,NaN,NaN,NaN,NaN,NaN,1200000002461909,N,3
1494546,79632794790470,NaN,NaN,NaN,NaN,NaN,NaN,1200000001751595,N,3
1494547,79632794790979,NaN,NaN,NaN,NaN,NaN,NaN,1200000000477081,N,3
1494548,79632815895021,NaN,NaN,NaN,NaN,NaN,NaN,1200000000072857,N,3
1494549,79632815964814,NaN,NaN,NaN,NaN,NaN,NaN,1200000000477124,N,3

In [32]:
data.to_parquet('rel_order.parquet')